<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="BattlefieldWidth" value="100"/>
    <add key="BattlefieldHeight" value="100"/>
    <add key="MaxRounds" value="24"/>
    <add key="MaxTurns" value="100"/>
    <add key="NextRoundDelayInSeconds" value="10" />
  </appSettings>
</configuration>